@keyframes emitting {
    from {style: "fill:rgb(0%,0%,0%);stroke-width:0.3985;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:10;"}
    to   {style: "fill:rgb(100%,50%,50%);stroke-width:0.3985;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:10;"}
}

@-webkit-keyframes emitting {
    from {style: "fill:rgb(0%,0%,0%);stroke-width:0.3985;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:10;"}
    to   {style: "fill:rgb(100%,50%,50%);stroke-width:0.3985;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:10;"}
}

#demo1led {
    animation-name: emitting;
    animation-delay: 1s;
}