a.svgmodal {
    position: relative;
    display: block; 
}
a.svgmodal:after {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}

table {
    border: 1;
}

input[type="range"]::-moz-range-track {
    padding: 0 0px;
    background: repeating-linear-gradient(to right, 
        #ccc, 
        #ccc 10%, 
        #000 10%, 
        #000 11%, 
        #ccc 11%, 
        #ccc 20%);
}