pre.bash {
    background-color: rgb(95%,95%,95%);
    color: rgb(30%,30%,30%);
    font-family: monospace;
    flex-wrap: wrap;
    display: block;
    /* display: table; */
    /* width: 60em; */
    width: 100%;
}

a.items {
    text-decoration:none;
    color:black;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f0f1f2;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #1e1c1d;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #30b3da;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #1e1c1d;
    color: white;
}

div.content div.inner {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}


