/* table {
    border-collapse: collapse;
}
 
th, td {
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    background-color: white;
    background-clip: padding-box;
} */

svg {
    display: block;
    max-height: 100%;
}

a.svgmodal {
    position: relative;
    display: inline-block; 
}
a.svgmodal:after {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}

table {
    border: 1;
}